### L-2 last part

Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n2
2.0

In [4]:
n=1
def inc(n):
    n+=1
    print(f'inside {n}')
    return n

n1=inc(n)
print(n1)
print(n)

inside 2
2
1

In [5]:
n=10
for i in range(5):
    n+=i

print(n)

20

#### Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

#### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows10
*
**
***
****
*****
******
*******
********
*********
**********

#### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows4
1
121
12321
1234321

#### Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In Python, the for...else construct is a unique feature that allows you to specify an else block to be executed after a for loop completes. This else block runs only if the loop is not terminated prematurely by a break statement.

In [30]:
# calculation of prime numbers
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i,end=',')

1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,10):
  pass

Strings are sequence of Characters(text in programming are strings)

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

### L-3 Strings
---

#### Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

#### Accessing Substrings from a String

In [ ]:
# Indexing -  when we create a stirng python automatically assign a index to each character starting from first character with index=0.

s = 'hello world'
print(s[0])
# print(s[41])    #IndexError: string index out of range

IndexError: ignored

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [14]:
# Slicing
s = 'hello world'
print(s[0:5])
print(s[2:3])
print(s[:3])
print(s[8:0:-2])
print(s[-1:0:-1])   #dlrow olle h is excluded here.

print(s[::-1])  # string reversing

hello
l
hel
rwol
dlrow olle
dlrow olleh

In [17]:
s = 'hello world'

# print world using -ve indexing
print(s[-5:-1]) # d is excluded.
print(s[-5:])

# print world in reverse using -ve indexing
print(s[-1:-6:-1])
s[-1:-5:2]  # empty sting as for +ve jump start_idx must be smaller than end_idx.

worl
world
dlrow

'dr'

#### Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'  #TypeError: 'str' object does not support item assignment

# So, Python strings are immutable.

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

In [18]:
s = 'hello world'
del s[-1:-5:-1]     #TypeError: 'str' object does not support item deletion as string are immutable.
# so complete string can be deleted but partial deletion is not allowed.
print(s)

TypeError: 'str' object does not support item deletion

#### Operations on Strings

- Arithmetic Operations -> only + & * works with strings.
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [19]:
print('delhi'+'mumbai')
print('delhi' + ' ' + 'mumbai')

delhimumbai
delhi mumbai

In [ ]:
print('delhi'*5)
print("*"*50)

delhidelhidelhidelhidelhi

In [20]:
print('delhi'=='mumbai')

False

In [ ]:
'delhi' != 'delhi'

False

In [22]:
'mumbai' > 'pune'
#comparison is done based on ascii number values(lexiographically)
# ascii of m = 109
# ascii of p = 112 

'Pune'>'pune'   # ascii of P = 80   & 80 > 112 will be false.

False

In [ ]:
'Pune' > 'pune'

False

##### Relational operators
In python empty string are considered False and non-empty are True.

In [28]:
display('hello' and 'world')

display('' and 'world')
display('world' and '')

'world'

''

''

In [ ]:
'hello' or 'world'

'hello'

In [30]:
display('' or 'world')
display('world' or '')

'world'

'world'

In [ ]:
not 'hello'

False

In [ ]:
# loop in strings
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
# membership operators in python strings:- in & not in
'D' in 'delhi'

False

#### Functions

In [ ]:
# common fxn - len, min, max, sorted

# capitalize, upper, lower, title, swapcase,, strip

# count, find, index,, replace

# endswith, startswith

# isalnum, isalpha, isdigit, isinstance

# split, join

#### Common Functions
- len
- min
- max
- sorted

In [ ]:
len('hello world')

11

In [ ]:
max('hello world')  # gives the character having highest ascii character.

'w'

In [ ]:
min('hello world')  # gives the character having lowest ascii character.

' '

In [31]:
# sorted -- # output is list of the characters in the string.
print(sorted('hello world'))
sorted('hello world',reverse=True)

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

#### Capitalize/Upper/Lower/Title/Swapcase

In [ ]:
s = 'hello world'
print(s.capitalize())
print(s)    # orginal string is still the same and a new string is formed in the memory.

Hello world
hello world

In [ ]:
s.upper()                   #'HELLO WORLD'
'Hello Wolrd'.lower()       #'hello wolrd'
s.title()                   #'Hello World'

'HeLlO WorLD'.swapcase()    #'hElLo wORld'

'Hello World'

#### Count/Find/Index

In [ ]:
'my name is nitish'.count('i')  # counts the occurances of the input string.

3

In [35]:
display('my name is nitish'.find('is'))
display('my name is nitish'.find('x'))  # if not found then return -1 instead of an error.

8

-1

In [37]:
display('my name is nitish'.index('is'))
display('my name is nitish'.index('x'))     #ValueError: substring not found

8

ValueError: substring not found

#### endswith/startswith

In [38]:
'varRam'.startswith('var')

True

In [39]:
'my name is nitish'.endswith('sho')

False

In [40]:
'my name is nitish'.startswith('1my')

False

#### format

In [41]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(name,gender)
'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

#### isalnum/ isalpha/ isdigit/ isidentifier

In [42]:
display('nitish1234'.isalnum())
'nitish1234%'.isalnum()

True

False

In [ ]:
'nitish'.isalpha()  # check if each character is an alphabet.

True

In [43]:
display('123'.isdigit())
'123abc'.isdigit()

True

False

In [ ]:
'first-name'.isidentifier() # to check if the string is a valid variable name.

False

#### Split/Join

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [44]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [33]:
display("-".join(['hi', 'my', 'name', 'is', 'nitish']))
" ".join(['hi', 'my', 'name', 'is', 'nitish'])  # all the items in the list must be string.

'hi-my-name-is-nitish'

'hi my name is nitish'

#### Replace

In [48]:
display('hi my name is nitish'.replace('nitish','campusx')) #
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is campusx'

'hi my name is nitish'

#### Strip

In [ ]:
'nitish                           '.strip()

'nitish'

#### Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailsupport@campusx.in
support

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringnitish
what would like to removei
ntsh

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>

### L-4 Lists
---

#### 1. Lists

- What are Lists?
- Lists Vs Arrays
- Characterstics of a List
- How to create a list
- Access items from a List
- Editing items in a List
- Deleting items from a List
- Operations on Lists
- Functions on Lists

#### What are Lists

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

![image.png]()

- Why Lists are required in programming?

#### Array Vs Lists

- Fixed Vs Dynamic Size -- array are fixed size but list are dynamic size as we add items size keep on increasing.

- Convenience -> Hetrogeneous -- array are homogeneous

- Speed of Execution -- lists are slower.

- Memory -- occupy more space.

In [1]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

2047245714240
2047192492336
2047192492368
2047192492400
2047192492336
2047192492368
2047192492400

#### How lists are stored in memory

In Python, lists are dynamic arrays that store references to objects rather than the objects themselves. Here's how lists are stored in memory:

1. **Dynamic Array**: Python lists are implemented as dynamic arrays. This means that they can change size dynamically as elements are added or removed. Internally, Python maintains a contiguous block of memory to store the list's elements. When the list's capacity is exceeded, Python allocates a new, larger block of memory, copies the existing elements to the new space, and then frees the old memory.

2. **Array of Pointers**: Each element in a Python list is a reference (or pointer) to an object rather than the object itself. This means that the list can store objects of different types. The list itself contains an array of pointers to the actual data.

3. **Contiguous Memory**: The memory for the list's internal array of pointers is contiguous. However, the objects those pointers refer to are stored elsewhere in memory, possibly in non-contiguous locations.

4. **Growth Strategy**: Python uses an over-allocation strategy to minimize the number of times the array needs to be reallocated. When a list grows beyond its current capacity, Python increases its size by a certain factor (usually by a factor of about 1.125 or 12.5% of the current size). This allows for efficient amortized time complexity for appending elements.

5. **Memory Overhead**: Because lists store references rather than actual data, there is some memory overhead associated with storing these references. Additionally, the over-allocation strategy means that lists might use more memory than they currently need to accommodate future growth.

Heres an example illustrating these concepts:

```python
# Create a list
my_list = [1, 2, 3]

# Add an element
my_list.append(4)

# Remove an element
my_list.pop(0)
```

- When `my_list` is created, Python allocates memory to store references to the three integers.
- When `4` is appended, if the list's current capacity is exceeded, Python will allocate more memory to accommodate additional elements.
- When an element is removed, the list maintains its current capacity until more elements are added.

This design allows Python lists to be flexible and efficient for a wide range of use cases.

#### Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
# lists are ordered
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

#### Creating a List

In [3]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
[[],[]] #outer list mein 2 items
[[[],[]],[[],[]]] #inner list mein bhi 2 items hain.
print([[[1,2],[3,4]],[[5,6],[7,8]]])    # homogenous list
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello world'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]
L[0:3]
print(L[::-1])

[6, 5, 4, 3, 2, 1]

#### Adding Items to a List

In [8]:
# append -- add 1 item at the end of the list.
L = [1,2,3,4,5]
L.append(10)
L.append([11,12,13,14])
print(L)

[1, 2, 3, 4, 5, 10, [11, 12, 13, 14]]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

#### Editing items in a List

In [9]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500
print(L)

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 2, 3, 4, 500]
[1, 200, 300, 400, 500]

#### Deleting items from a List

In [11]:
# del
L = [1,2,3,4,5]
print(L)
del L
print(L)

[1, 2, 3, 4, 5]

NameError: name 'L' is not defined

In [10]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]
print(L)
# slicing
del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [12]:
# pop
L = [1,2,3,4,5]

L.pop()
print(L)

L.pop(0)
print(L)

[1, 2, 3, 4]
[2, 3, 4]

In [ ]:
# clear
L = [1,2,3,4,5]

L.clear()
print(L)

[]

#### Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
L1 = [1,2,3,4]
print(L1*3) # = L1+L1+l1 ->list 3 baar repeat ho ke merge ho jayega.

[1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
#membership operator in lists:-
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 in L1)
print(5 not in L1)
print(5 in L2)
print([5,6] in L2)

True
False
False
True

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

#### List Functions

In [21]:
# len/min/max/sorted
L = [12,11,15,17,10]

print(len(L))  # will give count of the items in the list.
print(min(L))   # work with homogenous lists.
print(max(L))   # work with homogenous lists.
print(sorted(L,reverse=True))

5
10
17
[17, 15, 12, 11, 10]

In [22]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)
L.count(15)

0

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))    # sorted is a temporary operation & it creates a new list in the memory keeping the orginal list intact.
print(L)
L.sort()    # permanent change in the orginal list.
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy -> creates shallow copy, means memory mein new address pe same list ban jati hai.
L = [2,1,5,7,0]
print(L)
print(id(L))

L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
140163201056112
[2, 1, 5, 7, 0]
140163201128800

#### List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [24]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]
[i*j for j in L2 for i in L1]

[5, 10, 15, 20, 6, 12, 18, 24, 7, 14, 21, 28, 8, 16, 24, 32]

#### 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

#### Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [25]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]
type(zip(L1,L2))

zip

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f7a67452a90>>]

#### Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [28]:
# risky usage
a = [1,2,3]
b = a

print(a)
print(b)

a.append(4)
print(a)
print(b)    # b also got changed due to the changes made in a.

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# risky usage- how to avoid error in copying
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

#### List Programs

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

In [ ]:
# How to take list as input from user

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300

In [ ]:
# Write a program that can convert a 2D list to 1D list

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

In [ ]:
# Write a program to check if a list is in ascending order or not

## extra

In Python, the terms **module**, **package**, and **library** refer to different ways of organizing and distributing code. Here's a breakdown of each:

### Module

- **Definition**: A module is a single file containing Python code. It can define functions, classes, variables, and runnable code.

- **Purpose**: Modules are used to organize code into manageable and reusable components. You can import modules into other Python scripts to use the functions and classes they define.

- **Example**: A file named `math.py` could be a module that contains mathematical functions.

### Package

- **Definition**: A package is a collection of modules organized in a directory hierarchy. It contains a special file named `__init__.py` (which can be empty) that indicates to Python that the directory should be treated as a package.

- **Purpose**: Packages are used to organize related modules into a single unit, making it easier to manage larger codebases.

- **Example**: A directory structure like this would constitute a package:
  ```
  mypackage/
      __init__.py
      module1.py
      module2.py
  ```

  You can import modules from this package using `import mypackage.module1`.

### Library

- **Definition**: A library is a collection of modules and packages designed to be used together to provide specific functionality. It often includes documentation and other resources.

- **Purpose**: Libraries provide reusable code for common tasks, saving time and effort. They can cover a wide range of functionalities, from data manipulation to web development.

- **Example**: Pandas is a library that includes multiple modules and packages for data analysis.

### Summary

- **Module**: A single file with Python code (`module.py`).
- **Package**: A directory of modules (`mypackage/` with `__init__.py`).
- **Library**: A collection of modules and packages designed to work together (e.g., Pandas, NumPy).

In essence, a module is a single file, a package is a directory with modules, and a library is a collection of related packages and modules.