## using sql

#### [1 - Return Orders Customer Feedback](https://100daysofsql.com/new-courses/1/coding-test/2)

In [ ]:
-- Namastekart, an e-commerce company, has observed a notable surge in return orders recently. They suspect that a specific group of customers may be responsible for a significant portion of these returns. To address this issue, their initial goal is to identify customers who have returned more than 50% of their orders. This way, they can proactively reach out to these customers to gather feedback.

 

-- For instance, if a customer named ABC has placed 4 orders and returned 3 of them, they should be included in the output. On the other hand, if a customer named XYZ has placed 5 orders but only returned 2, they should not be included in the output. Write an SQL to find list of customers along with their return percent(Round to 2 decimal places).

-- Table: orders (primary key : order_id)

-- column name	datatype
-- order_id	int
-- order_date	date
-- customer_name	varchar(20)
-- sales	int
 

-- Table: returns (primary key : order_id)

-- column name	datatype
-- order_id	int
-- return_date	date


-- Example Input

-- orders

-- order_id	order_date	customer_name	sales
-- 1	2023-01-01	Alexa	1239
-- 2	2023-01-02	Alexa	1239
-- 3	2023-01-03	Alexa	1239
-- 4	2023-01-03	Alexa	1239
-- 5	2023-01-01	Ramesh	1239
-- 6	2023-01-02	Ramesh	1239
-- 7	2023-01-03	Ramesh	1239
-- returns

-- order_id	return_date
-- 1	2023-01-02
-- 2	2023-01-04
-- 3	2023-01-05
-- 7	2023-01-10
 

-- Expected Output:

-- customer_name	Return_Percent
-- Alexa	75.0
-- Explanation: Alexa has placed 4 orders and returned 3 of them which is 75 percent (3/4) so Alexa is in output while Ramesh has placed 3 orders but reurned only 1 order which is 33.33% (1/3) so Ramesh is not in output.

In [ ]:
-- Create the orders table
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    customer_name VARCHAR(20),
    sales INT
);

-- Create the returns table
CREATE TABLE returns (
    order_id INT PRIMARY KEY,
    return_date DATE,
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
);

-- Insert data into the orders table
INSERT INTO orders (order_id, order_date, customer_name, sales) VALUES
(1, '2023-01-01', 'Alexa', 1239),
(2, '2023-01-02', 'Alexa', 1239),
(3, '2023-01-03', 'Alexa', 1239),
(4, '2023-01-03', 'Alexa', 1239),
(5, '2023-01-01', 'Ramesh', 1239),
(6, '2023-01-02', 'Ramesh', 1239),
(7, '2023-01-03', 'Ramesh', 1239);

-- Insert data into the returns table
INSERT INTO returns (order_id, return_date) VALUES
(1, '2023-01-02'),
(2, '2023-01-04'),
(3, '2023-01-05'),
(7, '2023-01-10');

In [ ]:
# my sol
select 
customer_name, 
round(sum(case when return_date is not null then 1 else 0 end)*100.0/count(*),2) as return_percentage
from orders o left join returns r on o.order_id=r.order_id
group by customer_name
having round(sum(case when return_date is not null then 1 else 0 end)*100.0/count(*))>50

In [ ]:
-- Suppose a gym wants to identify members who have attended more than 50% of the available classes. This way, they can offer special promotions to the most active members.

-- Example:
-- If a member named John has registered for 4 classes and attended 3 of them, he should be included in the output. On the other hand, if a member named Jane has registered for 5 classes but only attended 2, she should not be included in the output.

-- Table: classes (primary key: class_id)

-- Column Name	DataType
-- class_id	int
-- class_date	date
-- member_name	varchar(20)
-- fee	int
-- Table: attendance (primary key: class_id)

-- Column Name	DataType
-- class_id	int
-- attendance_date	date
-- Example Input

-- classes

-- class_id	class_date	member_name	fee
-- 1	2023-01-01	John	50
-- 2	2023-01-02	John	50
-- 3	2023-01-03	John	50
-- 4	2023-01-04	John	50
-- 5	2023-01-01	Jane	50
-- 6	2023-01-02	Jane	50
-- 7	2023-01-03	Jane	50
-- attendance

-- class_id	attendance_date
-- 1	2023-01-02
-- 2	2023-01-04
-- 3	2023-01-05
-- 7	2023-01-10
-- Expected Output

-- member_name	Attendance_Percent
-- John	75.0
-- Explanation: John has registered for 4 classes and attended 3 of them, which is 75 percent (3/4). Therefore, John is included in the output, while Jane has registered for 3 classes but attended only 1 class, which is 33.33% (1/3). Hence, Jane is not included in the output.

In [ ]:
-- Create the classes table
CREATE TABLE classes (
    class_id INT PRIMARY KEY,
    class_date DATE,
    member_name VARCHAR(20),
    fee INT
);

-- Create the attendance table
CREATE TABLE attendance (
    class_id INT PRIMARY KEY,
    attendance_date DATE,
    FOREIGN KEY (class_id) REFERENCES classes(class_id)
);

-- Insert data into the classes table
INSERT INTO classes (class_id, class_date, member_name, fee) VALUES
(1, '2023-01-01', 'John', 50),
(2, '2023-01-02', 'John', 50),
(3, '2023-01-03', 'John', 50),
(4, '2023-01-04', 'John', 50),
(5, '2023-01-01', 'Jane', 50),
(6, '2023-01-02', 'Jane', 50),
(7, '2023-01-03', 'Jane', 50);

-- Insert data into the attendance table
INSERT INTO attendance (class_id, attendance_date) VALUES
(1, '2023-01-02'),
(2, '2023-01-04'),
(3, '2023-01-05'),
(7, '2023-01-10');

In [ ]:
-- sol
SELECT 
    c.member_name,
    ROUND(COUNT(a.class_id) * 100.0 / COUNT(c.class_id), 2) AS Attendance_Percent
FROM 
    classes c
LEFT JOIN 
    attendance a ON c.class_id = a.class_id
GROUP BY 
    c.member_name
HAVING 
    ROUND(COUNT(a.class_id) * 100.0 / COUNT(c.class_id), 2) > 50;

#### [49 - Lowest Price](https://100daysofsql.com/new-courses/1/coding-test/50)

In [ ]:
-- You own a small online store, and want to analyze customer ratings for the products that you're selling. After doing a data pull, you have a list of products and a log of purchases. Within the purchase log, each record includes the number of stars (from 1 to 5) as a customer rating for the product.

-- Specifically, you now have a database containing 2 tables - purchases and products.

-- Table: products (primary key : id)

-- column name	datatype
-- id	int
-- name	varchar(25)
-- category 	varchar(10)
-- price 	int
 

-- Table: purchases(primary key : id)

-- column name	datatype
-- id	int
-- product_id 	int
-- stars 	int
 

-- For each category, find the lowest price among all products that received at least one 4-star or above rating from customers.
-- If a product category did not have any products that received at least one 4-star or above rating, the lowest price is considered to be 0. The final output should be sorted by product category in alphabetical order.

 

-- Expected Output:

-- category	price
-- apple	0
-- cherry	36
-- grape	0
-- orange	14

In [ ]:
-- insert table and data
-- Create the products table
CREATE TABLE products (
    id INT PRIMARY KEY,
    name VARCHAR(25),
    category VARCHAR(10),
    price INT
);

-- Create the purchases table
CREATE TABLE purchases (
    id INT PRIMARY KEY,
    product_id INT,
    stars INT,
    FOREIGN KEY (product_id) REFERENCES products(id)
);

-- Insert data into the products table
INSERT INTO products (id, name, category, price) VALUES
(1, 'Cripps Pink', 'apple', 10),
(2, 'Navel Orange', 'orange', 12),
(3, 'Golden Delicious', 'apple', 6),
(4, 'Clementine', 'orange', 14),
(5, 'Pinot Noir', 'grape', 20),
(6, 'Bing Cherries', 'cherry', 36);

-- Insert data into the purchases table
INSERT INTO purchases (id, product_id, stars) VALUES
(1, 1, 2),
(2, 3, 3),
(3, 2, 2),
(4, 4, 4),
(5, 6, 5),
(6, 6, 4);

In [ ]:
-- my sol
-- select * from products;
-- select * from purchases;

with cte as 
(
    select *,
    row_number() over(partition by category order by stars desc) as rn
    from products pr left join purchases p on pr.id=p.product_id
)
select 
category, max(case when rn=1 and stars is not null and stars >=4 then price else 0 end) as price
from cte
group by category

In [ ]:
-- !my sol
select category,coalesce(min(case when pur.product_id is not null then price end),0) as price
from products p
left join purchases pur on p.id=pur.product_id and pur.stars in (4,5)
group by category
order by category;

In [ ]:
-- You manage a sports league and want to analyze the performance ratings for the teams participating in the league. After compiling data, you have a list of teams and a log of matches. Within the match log, each record includes the number of points (from 1 to 5) as a performance rating for the team.

-- Specifically, you now have a database containing 2 tables - matches and teams.

-- Table: teams (primary key : id)

-- column name	datatype
-- id	int
-- name	varchar(25)
-- division	varchar(10)
-- budget	int
-- Table: matches (primary key : id)

-- column name	datatype
-- id	int
-- team_id	int
-- points	int

-- For each division, find the lowest budget among all teams that received at least one 4-point or above rating from matches. If a division did not have any teams that received at least one 4-point or above rating, the lowest budget is considered to be 0. The final output should be sorted by division in alphabetical order.

In [ ]:
-- Create the tables
CREATE TABLE teams (
    id INT PRIMARY KEY,
    name VARCHAR(25),
    division VARCHAR(10),
    budget INT
);

CREATE TABLE matches (
    id INT PRIMARY KEY,
    team_id INT,
    points INT,
    FOREIGN KEY (team_id) REFERENCES teams(id)
);

-- Insert data into the teams table
INSERT INTO teams (id, name, division, budget) VALUES
(1, 'Blue Panthers', 'north', 10),
(2, 'Red Hawks', 'south', 12),
(3, 'Green Eagles', 'north', 6),
(4, 'Yellow Tigers', 'south', 14),
(5, 'Black Bears', 'east', 20),
(6, 'White Wolves', 'west', 36);

-- Insert data into the matches table
INSERT INTO matches (id, team_id, points) VALUES
(1, 1, 2),
(2, 3, 3),
(3, 2, 2),
(4, 4, 4),
(5, 6, 5),
(6, 6, 4);

In [ ]:
-- Query to find the lowest budget for each division
SELECT 
    t.division,
    COALESCE(MIN(t.budget), 0) AS lowest_budget
FROM 
    teams t
JOIN 
    matches m ON t.id = m.team_id
WHERE 
    m.points >= 4
GROUP BY 
    t.division
ORDER BY 
    t.division;

## ** using sql on pandas df

#### [1 - Return Orders Customer Feedback psql](https://100daysofsql.com/new-courses/1/coding-test/2)

In [ ]:
# Namastekart, an e-commerce company, has observed a notable surge in return orders recently. They suspect that a specific group of customers may be responsible for a significant portion of these returns. To address this issue, their initial goal is to identify customers who have returned more than 50% of their orders. This way, they can proactively reach out to these customers to gather feedback.

 

# For instance, if a customer named ABC has placed 4 orders and returned 3 of them, they should be included in the output. On the other hand, if a customer named XYZ has placed 5 orders but only returned 2, they should not be included in the output. Write an SQL to find list of customers along with their return percent(Round to 2 decimal places).

# Table: orders (primary key : order_id)

# column name	datatype
# order_id	int
# order_date	date
# customer_name	varchar(20)
# sales	int
 

# Table: returns (primary key : order_id)

# column name	datatype
# order_id	int
# return_date	date


# Example Input

# orders

# order_id	order_date	customer_name	sales
# 1	2023-01-01	Alexa	1239
# 2	2023-01-02	Alexa	1239
# 3	2023-01-03	Alexa	1239
# 4	2023-01-03	Alexa	1239
# 5	2023-01-01	Ramesh	1239
# 6	2023-01-02	Ramesh	1239
# 7	2023-01-03	Ramesh	1239
# returns

# order_id	return_date
# 1	2023-01-02
# 2	2023-01-04
# 3	2023-01-05
# 7	2023-01-10
 

# Expected Output:

# customer_name	Return_Percent
# Alexa	75.0
# Explanation: Alexa has placed 4 orders and returned 3 of them which is 75 percent (3/4) so Alexa is in output while Ramesh has placed 3 orders but reurned only 1 order which is 33.33% (1/3) so Ramesh is not in output.

In [ ]:
import pandas as pd

# Data for the orders table
orders_data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7],
    'order_date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-03', '2023-01-01', '2023-01-02', '2023-01-03'],
    'customer_name': ['Alexa', 'Alexa', 'Alexa', 'Alexa', 'Ramesh', 'Ramesh', 'Ramesh'],
    'sales': [1239, 1239, 1239, 1239, 1239, 1239, 1239]
}

# Convert order_date to datetime
orders_data['order_date'] = pd.to_datetime(orders_data['order_date'])

# Create DataFrame for orders
orders_df = pd.DataFrame(orders_data)

# Data for the returns table
returns_data = {
    'order_id': [1, 2, 3, 7],
    'return_date': ['2023-01-02', '2023-01-04', '2023-01-05', '2023-01-10']
}

# Convert return_date to datetime
returns_data['return_date'] = pd.to_datetime(returns_data['return_date'])

# Create DataFrame for returns
returns_df = pd.DataFrame(returns_data)

# Display the DataFrames
print("Orders DataFrame:")
print(orders_df)
print("\nReturns DataFrame:")
print(returns_df)

In [ ]:
# my sol
select 
customer_name, 
round(sum(case when return_date is not null then 1 else 0 end)*100.0/count(*),2) as return_percentage
from orders o left join returns r on o.order_id=r.order_id
group by customer_name
having round(sum(case when return_date is not null then 1 else 0 end)*100.0/count(*))>50

In [ ]:
-- Suppose a gym wants to identify members who have attended more than 50% of the available classes. This way, they can offer special promotions to the most active members.

-- Example:
-- If a member named John has registered for 4 classes and attended 3 of them, he should be included in the output. On the other hand, if a member named Jane has registered for 5 classes but only attended 2, she should not be included in the output.

-- Table: classes (primary key: class_id)

-- Column Name	DataType
-- class_id	int
-- class_date	date
-- member_name	varchar(20)
-- fee	int
-- Table: attendance (primary key: class_id)

-- Column Name	DataType
-- class_id	int
-- attendance_date	date
-- Example Input

-- classes

-- class_id	class_date	member_name	fee
-- 1	2023-01-01	John	50
-- 2	2023-01-02	John	50
-- 3	2023-01-03	John	50
-- 4	2023-01-04	John	50
-- 5	2023-01-01	Jane	50
-- 6	2023-01-02	Jane	50
-- 7	2023-01-03	Jane	50
-- attendance

-- class_id	attendance_date
-- 1	2023-01-02
-- 2	2023-01-04
-- 3	2023-01-05
-- 7	2023-01-10
-- Expected Output

-- member_name	Attendance_Percent
-- John	75.0
-- Explanation: John has registered for 4 classes and attended 3 of them, which is 75 percent (3/4). Therefore, John is included in the output, while Jane has registered for 3 classes but attended only 1 class, which is 33.33% (1/3). Hence, Jane is not included in the output.

In [ ]:
import pandas as pd

# Data for the classes table
classes_data = {
    'class_id': [1, 2, 3, 4, 5, 6, 7],
    'class_date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-01', '2023-01-02', '2023-01-03'],
    'member_name': ['John', 'John', 'John', 'John', 'Jane', 'Jane', 'Jane'],
    'fee': [50, 50, 50, 50, 50, 50, 50]
}

# Convert class_date to datetime
classes_data['class_date'] = pd.to_datetime(classes_data['class_date'])

# Create DataFrame for classes
classes_df = pd.DataFrame(classes_data)

# Data for the attendance table
attendance_data = {
    'class_id': [1, 2, 3, 7],
    'attendance_date': ['2023-01-02', '2023-01-04', '2023-01-05', '2023-01-10']
}

# Convert attendance_date to datetime
attendance_data['attendance_date'] = pd.to_datetime(attendance_data['attendance_date'])

# Create DataFrame for attendance
attendance_df = pd.DataFrame(attendance_data)

# Display the DataFrames
print("Classes DataFrame:")
print(classes_df)
print("\nAttendance DataFrame:")
print(attendance_df)

In [ ]:
# sol
SELECT 
    c.member_name,
    ROUND(COUNT(a.class_id) * 100.0 / COUNT(c.class_id), 2) AS Attendance_Percent
FROM 
    classes c
LEFT JOIN 
    attendance a ON c.class_id = a.class_id
GROUP BY 
    c.member_name
HAVING 
    ROUND(COUNT(a.class_id) * 100.0 / COUNT(c.class_id), 2) > 50;

#### [49 - Lowest Price psql](https://100daysofsql.com/new-courses/1/coding-test/50)

In [ ]:
# You own a small online store, and want to analyze customer ratings for the products that you're selling. After doing a data pull, you have a list of products and a log of purchases. Within the purchase log, each record includes the number of stars (from 1 to 5) as a customer rating for the product.

# Specifically, you now have a database containing 2 tables - purchases and products.

# Table: products (primary key : id)

# column name	datatype
# id	int
# name	varchar(25)
# category 	varchar(10)
# price 	int
 

# Table: purchases(primary key : id)

# column name	datatype
# id	int
# product_id 	int
# stars 	int
 

# For each category, find the lowest price among all products that received at least one 4-star or above rating from customers.
# If a product category did not have any products that received at least one 4-star or above rating, the lowest price is considered to be 0. The final output should be sorted by product category in alphabetical order.

 

# Expected Output:

# category	price
# apple	0
# cherry	36
# grape	0
# orange	14

In [ ]:
import pandas as pd

# Data for the products table
products_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Cripps Pink', 'Navel Orange', 'Golden Delicious', 'Clementine', 'Pinot Noir', 'Bing Cherries'],
    'category': ['apple', 'orange', 'apple', 'orange', 'grape', 'cherry'],
    'price': [10, 12, 6, 14, 20, 36]
}

# Create DataFrame for products
products = pd.DataFrame(products_data)

# Data for the purchases table
purchases_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'product_id': [1, 3, 2, 4, 6, 6],
    'stars': [2, 3, 2, 4, 5, 4]
}

# Create DataFrame for purchases
purchases = pd.DataFrame(purchases_data)

# Display the DataFrames
print("Products DataFrame:")
print(products)
print("\nPurchases DataFrame:")
print(purchases)

In [ ]:
# my sol
with cte as (select *,
row_number() over(partition by category order by stars desc) as rn
from products pr left join purchases p on pr.id=p.product_id)

select 
category, max(case when rn=1 and stars is not null and stars >=4 then price else 0 end) as price
from cte
group by category

In [ ]:
# !my sol
select category,coalesce(min(case when pur.product_id is not null then price end),0) as price
from products p
left join purchases pur on p.id=pur.product_id and pur.stars in (4,5)
group by category
order by category;

In [ ]:
# You manage a sports league and want to analyze the performance ratings for the teams participating in the league. After compiling data, you have a list of teams and a log of matches. Within the match log, each record includes the number of points (from 1 to 5) as a performance rating for the team.

# Specifically, you now have a database containing 2 tables - matches and teams.

# Table: teams (primary key : id)

# column name	datatype
# id	int
# name	varchar(25)
# division	varchar(10)
# budget	int
# Table: matches (primary key : id)

# column name	datatype
# id	int
# team_id	int
# points	int
# For each division, find the lowest budget among all teams that received at least one 4-point or above rating from matches. If a division did not have any teams that received at least one 4-point or above rating, the lowest budget is considered to be 0. The final output should be sorted by division in alphabetical order.

In [ ]:
import pandas as pd

# Data for the teams table
teams_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Blue Panthers', 'Red Hawks', 'Green Eagles', 'Yellow Tigers', 'Black Bears', 'White Wolves'],
    'division': ['north', 'south', 'north', 'south', 'east', 'west'],
    'budget': [10, 12, 6, 14, 20, 36]
}

# Create DataFrame for teams
teams_df = pd.DataFrame(teams_data)

# Data for the matches table
matches_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'team_id': [1, 3, 2, 4, 6, 6],
    'points': [2, 3, 2, 4, 5, 4]
}

# Create DataFrame for matches
matches_df = pd.DataFrame(matches_data)

# Display the DataFrames
# print("Teams DataFrame:")
# print(teams_df)
# print("\nMatches DataFrame:")
# print(matches_df)