#### [Q3-Premium Customers](https://100daysofsql.com/new-courses/1/coding-test/4)

Namastekart, an e-commerce company want to start special reward program for their premium customers.  The customers who have placed more number of orders than the average number of orders placed by each customers are considered as premium customers.

Write an SQL to find the list of premium customers along with the number of orders placed by each of them. 

Table: orders (primary key : order_id)

column name	datatype
order_id	int
order_date	date
customer_name	varchar(20)
sales	int
 

Example Input

orders

order_id	order_date	customer_name	sales
1	2023-01-01	Alexa	1239
2	2023-01-02	Alexa	1239
3	2023-01-03	Alexa	1239
4	2023-01-03	Alexa	1239
5	2023-01-01	Ramesh	1239
6	2023-01-02	Ramesh	1239
7	2023-01-03	Ramesh	1239
8	2023-01-03	Neha	1200
9	2023-01-03	Subhash	100
10	2023-01-03	Subhash	230
 

Expected Output:

customer_name	no_of_orders
Alexa	4
Ramesh	3
Explanation: There are total 10 orders placed by 4 customers so the average number order placed by each customers is 10/4 = 2.5 . Alexa and ramesh have done more than 2.5 orders so they are in the output.

#my_sol

with cte as 
(select count(*)/count(distinct(customer_name)) as avg_orders from orders)

-- select * from cte
select customer_name, count(*) as no_of_orders
from orders, cte
group by customer_name
having count(*)>cte.avg_orders

#provided_sol

select customer_name,count(*) as no_of_orders 
from orders
group by customer_name having count(*)>(select count(*)*1.0/count(distinct customer_name) as avg_no_of_orders  from orders)

**chat gpt**

In SQL, when you use a comma between two tables in the `FROM` clause, it is creating a Cartesian product (cross join) between those tables. This means that every row from the first table is paired with every row from the second table. In your query:

```sql
select customer_name, count(*) as no_of_orders
from orders, cte
group by customer_name
having count(*) > cte.avg_orders
```

The `orders` table and the common table expression (CTE) `cte` are combined using a cross join. Since `cte` is expected to return only one row (it contains an aggregate calculation), the result is effectively adding the `avg_orders` value to every row from the `orders` table. 

Here's a step-by-step breakdown of the query:

1. The CTE `cte` is defined, which calculates the average number of orders per customer:
   ```sql
   with cte as 
   (select count(*)/count(distinct(customer_name)) as avg_orders from orders)
   ```
   
2. The main query:
   ```sql
   select customer_name, count(*) as no_of_orders
   from orders, cte
   group by customer_name
   having count(*) > cte.avg_orders
   ```
   - `from orders, cte`: This creates a Cartesian product of `orders` and the single row from `cte`. Because `cte` returns a single row, each row of `orders` is effectively augmented with the `avg_orders` value.
   - `group by customer_name`: This groups the result by `customer_name`.
   - `having count(*) > cte.avg_orders`: This filters the groups to only include customers whose number of orders is greater than the average number of orders per customer.

So, while a join is not explicitly specified, the cross join ensures that each row of `orders` has access to the `avg_orders` value from the CTE. This allows the `having` clause to compare the count of orders for each customer against this average.

If the CTE were to return more than one row, this query would not work correctly because the Cartesian product would multiply the rows from `orders` by the number of rows in the CTE, leading to incorrect results. In this case, since the CTE is designed to return exactly one row, the query functions as intended.

#### [4 - LinkedIn Top Voice](https://100daysofsql.com/new-courses/1/coding-test/5)

LinkedIn is a professional social networking app. They want to give top voice badge to their best creators to encourage them to create more quality content. A creator qualifies for the badge if he/she satisfies following criteria. 

1- Creator should have more then 50k followers.

2- Creator should have more than 100k impressions on the posts that they published in the month of Dec-2023.

3- Creator should have published atleast 3 posts in Dec-2023.

Write a SQL to get the list of top voice creators name along with no of posts and impressions by them in the month of Dec-2023.

Table: creators(primary key : creator_id)

column name	data type 
creator_id 	int
creator_name 	varchar(20)
followers 	int

Table: posts(primary key : post_id)

column name	data type 
creator_id 	int
post_id 	varchar(3)
publish_date 	date
impressions 	int
 

Example output:

creator_name	no_of_posts	 total_impressions
Ankit Bansal	3	132000

In [ ]:
my_sol

select c.creator_name, count(*) as no_of_posts, sum(p.impressions) as total_impressions
from creators c join posts p on c.creator_id=p.creator_id
where c.followers>50000 and 
strftime('%Y%m', p.publish_date) = '202312'
group by c.creator_name
having sum(impressions)>100000 and 
count(*)>=3

site_sol
select c.creator_name,count(p.post_id) as no_of_posts, sum(p.impressions) as total_impressions
from creators c
inner join posts p on c.creator_id=p.creator_id
where c.followers>50000 and strftime('%Y%m', p.publish_date)='202312'
group by c.creator_name,c.followers
having sum(p.impressions)>100000 and count(p.post_id)>=3

[5 - CIBIL Score](https://100daysofsql.com/new-courses/1/coding-test/6)

CIBIL score, often referred to as a credit score, is a numerical representation of an individual's creditworthiness.While the exact formula used by credit bureaus like CIBIL may not be publicly disclosed and can vary slightly between bureaus, the following are some common factors that typically influence the calculation of a credit score:

Payment History: This accounts for the largest portion of your credit score. It includes factors such as whether you pay your bills on time, any late payments, defaults, bankruptcies, etc. Assume this accounts for 70 percent of your credit score.

Credit Utilization Ratio: This is the ratio of your credit card balances to your credit limits. Keeping this ratio low (ideally below 30%) indicates responsible credit usage. Assume it accounts for 30% of your score and below logic to calculate it: 

           Utilization below 30% = 1

           Utilization between 30% and 50% = 0.7

           Utilization above 50% = 0.5

Assume that we have credit card bills data for March 2023 based on that we need to calculate credit utilization ratio.

 

Final Credit score formula = (on_time_loan_or_bill_payment)/total_bills_and_loans * 70 + Credit Utilization Ratio * 30 

 

Table: customers(primary key : customer_id )

column name	data type 
customer_id 	int
credit_limit 	int
 

Table: loans(primary key : loan_id )

column name	data type 
customer_id 	int
loan_id 	int
loan_due_date 	date
 

Table: credit_card_bills(primary key : bill_id )

column name	data type 
customer_id 	int
bill_id 	int
bill_due_date 	date
balance_amount 	int
 

Table: customer_transactions(primary key : loan_bill_id )

column name	data type 
loan_bill_id 	int
transaction_type 	varchar(10)
transaction_date	date
 

Expected Output: 

customer_id	cibil_score
1	82.5
2	91.0